@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");
.header {
  padding: 3.2rem 0rem 14rem 0rem;
  position: relative;
}
.header::after {
  position: absolute;
  content: "";
  width: 32rem;
  height: 32rem;
  border-radius: 32rem;
  background: #fdeac4;
  filter: blur(30rem);
  top: 0;
  right: 0;
  z-index: -1;
}
.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_nav-menu {
  width: 76.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_nav-menu--logo {
  width: 6.4rem;
  height: 6.4rem;
  background-image: url(../../icons/logo.png);
  background-repeat: no-repeat;
  background-position: center;
}
.header_nav-menu--urls {
  display: flex;
  gap: 3.2rem;
}
.header_nav-menu--links {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  font-weight: 500;
  text-decoration: none;
}
.header_nav-contacts {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}
.header_nav-contacts--phone {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 1.6rem 3.2rem;
  border-radius: 1.8rem;
  border: 0.1rem solid #000000;
  cursor: pointer;
}
.header_nav-contacts--language {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.course {
  position: relative;
  padding-bottom: 10rem;
}
.course_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course_wrapper::before {
  position: absolute;
  content: "";
  width: 32rem;
  height: 32rem;
  border-radius: 32rem;
  background: #fdeac4;
  filter: blur(30rem);
  bottom: 0;
  left: 0;
  z-index: -1;
}
.course_subscribe {
  width: 425px;
}
.course_subscribe-title {
  font-family: "Roboto Mono", monospace;
  color: #000000;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6.4rem;
  text-transform: lowercase;
  padding-bottom: 3.2rem;
}
.course_subscribe-title--span {
  color: #fff;
  font-family: Montserrat;
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 6.4rem;
  text-transform: uppercase;
  background-color: #f96739;
  margin-bottom: 0.8rem;
  display: block;
  max-width: 16rem;
}
.course_subscribe-content--text {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  padding-bottom: 3.2rem;
}
.course_subscribe-content--first {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  color: #757575;
  padding-bottom: 4.8rem;
}
.course_subscribe-btn {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  border-radius: 1.8rem;
  border: 0.1rem solid #000000;
  padding: 2.4rem 3.2rem;
  background: #000000;
  cursor: pointer;
}
.course_bg {
  width: 745px;
  height: 650px;
  background-image: url("/img/course-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.whyus {
  padding: 10rem 0rem 6.4rem 0rem;
  background-color: #fef8eb;
}
.whyus_title {
  padding-bottom: 5.5rem;
  text-align: center;
  color: #fff;
  font-family: Montserrat;
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 6.4rem;
  text-transform: uppercase;
  color: #000000;
}
.whyus_title-span {
  background-image: url("/icons/whyus-title-bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}
.whyus_wrapper {
  display: flex;
  gap: 2.4rem;
}
.whyus_wrapper-card {
  width: calc(33.33% - 2.4rem);
  padding: 5.3rem 5.6rem;
  border-radius: 3.2rem;
  background-color: #fff;
  text-align: center;
}
.whyus_wrapper-card:hover {
  background-color: #f8ba3b;
  transition: 1s ease;
  color: #fff;
}
.whyus_wrapper-card:hover .whyus_wrapper-card--img svg circle {
  fill: #fff;
}
.whyus_wrapper-card:hover .whyus_wrapper-card--text {
  color: #fff;
}
.whyus_wrapper-card:hover .whyus_wrapper-card--title {
  color: #fff;
}
.whyus_wrapper-card--img {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
}
.whyus_wrapper-card--title {
  color: #000000;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin: 1.6rem 0rem 2.4rem 0rem;
}
.whyus_wrapper-card--text {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}

.forwho {
  padding: 8.5rem 0rem 15rem 0rem;
}
.forwho_wrapper {
  display: flex;
  gap: 0.3rem;
}
.forwho_bg {
  width: calc(50% - 0.3rem);
}
.forwho_bg-img {
  display: block;
  width: 100%;
}
.forwho_content {
  width: calc(50% - 0.3rem);
}
.forwho_content-title {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 6rem;
  position: relative;
}
.forwho_content-title::after {
  position: absolute;
  width: 48px;
  height: 48px;
  background-image: url("/icons/forwho-title--img.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
  top: -3rem;
  right: -4.5rem;
}
.forwho_content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.forwho_content-wrapper--title {
  color: #000000;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  text-align: start;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.forwho_content-wrapper--text {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
}

.accordion {
  padding-bottom: 12.8rem;
}
.accordion_title {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 5.6rem;
}
.accordion_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.accordion_wrapper-card {
  background-color: #fef8eb;
  border-radius: 3.2rem;
  padding: 4rem 0rem 4.5rem 4rem;
}
.accordion_wrapper-item--btn {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  border: none;
  background: transparent;
  padding-bottom: 1.8rem;
}
.accordion_wrapper-item--title {
  color: #000000;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.accordion_wrapper-content {
  padding-left: 6.8rem;
}
.accordion_wrapper-content--list {
  list-style: disc;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.teacher {
  background-color: #fef8eb;
  padding-bottom: 12.8rem;
}
.teacher_title {
  text-align: center;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding: 6.4rem 0rem 5.6rem 0rem;
  background-image: url(/icons/teacher-title-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 10.4rem;
}
.teacher_wrapper-card {
  padding: 3.2rem 3.4rem 4.6rem 3.4rem;
  max-width: 35.2rem;
  border-radius: 3.2rem;
  border: 1px solid #f8ba3b;
  background: #fff;
  margin: 0 auto;
}
.teacher_wrapper-card--title {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;
  font-size: 2.4rem;
  font-weight: 500;
}
.teacher_wrapper-card--text-p {
  padding: 1.6rem 0rem 3.2rem 0rem;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;
}
.teacher_wrapper-card--text {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: small-caps;
}
.teacher_wrapper-card--content {
  text-align: center;
}
.teacher_wrapper-card--img {
  display: block;
  padding-bottom: 3.2rem;
  margin: 0 auto;
}

.reviews {
  padding: 12.8rem 0rem;
}

html {
  font-size: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 132rem;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */