// COMPONENTS
@import "../components/header";
@import "../components/course";
@import "../components/whyus";
@import "../components/forwho";
@import "../components/accordion";
@import "../components/teacher";
@import "../components/reviews";

// MIXINS
@import "../scss/mixins/mixins";

// VARIABLES

@import "../scss/variables/variables";

// FONTS
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");

// ANIMATIONS
@import "../scss/animations/animations";

// HTML

html {
  font-size: $base-font-size;
}

// BODY

body {
  @include font-montserrat;
}

// CONTAINER

.container {
  max-width: 132rem;
  margin: 0 auto;
}
