// DEFAULT FONT SIZE

$base-font-size: 10px;

// HTML

html {
  font-size: $base-font-size;
}

// BODY

body {
  @include font-montserrat;
}

// CONTAINER

.container {
  max-width: 132rem;
  margin: 0 auto;
}

// COLORS

$black: #000000;
$white: #000000;
$orange: #f8ba3b;
$orange75: #f8ba3b80;
$orange50: #fdeac4;
$orange25: #fef8eb;
$brick: #f96739;
$gray: #444444;
$smoke: #757575;
