// DEFAULT FONT SIZE

$base-font-size: 10px;
$heading1-font-size: 6.4rem;
$heading2-font-size: 5.6rem;
$heading3-font-size: 4.8rem;
$heading4-font-size: 2.4rem;

// COLORS

$black: #000000;
$white: #fff;
$orange100: #f8ba3b;
$orange75: #f8ba3b80;
$orange50: #fdeac4;
$orange25: #fef8eb;
$brick: #f96739;
$gray: #444444;
$smoke: #757575;

// MEDIA BREAKPOINTS

$breakpoint-xxl: 140rem;
$breakpoint-xl: 120rem;
$breakpoint-lg: 99.2rem;
$breakpoint-md: 76.8rem;
$breakpoint-smX: 57.6rem;
$breakpoint-smL: 42.5rem;
$breakpoint-smM: 37.5rem;
$breakpoint-smS: 32rem;
