@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: $breakpoint-xl) {
  .header {
    &_nav {
      padding: 0rem 2rem;
    }
  }
}
@media (max-width: $breakpoint-lg) {
  .header {
    padding: 3.2rem 0rem 3.2rem 0rem;
    &_nav {
      padding: 0rem 2rem;
      &-menu {
        width: 62.8rem;
      }
    }
  }
}
@media (max-width: $breakpoint-md) {
  .header {
    &_nav {
      &-menu {
        width: 41rem;
        &--logo {
          display: none;
        }
        &--urls {
          gap: 1.4rem;
        }
      }
    }
  }
}
@media (max-width: $breakpoint-smL) {
  .header {
    &_nav {
      flex-direction: column;
      gap: 2.4rem;
      &-contacts {
        width: 100%;
        justify-content: center;
      }
    }
  }
}
@media (max-width: 390px) {
  .header {
    &_nav {
      &-menu {
        width: 100%;
        &--urls {
          flex-wrap: wrap;
        }
      }
    }
  }
}
@media (max-width: $breakpoint-smM) {
  .header {
    &_nav {
      &-menu {
        width: 100%;
        &--urls {
          flex-wrap: wrap;
          gap: 3.4rem;
        }
      }
      &-contacts {
        justify-content: unset;
      }
    }
  }
}
@media (max-width: $breakpoint-smS) {
  .header {
    &_nav {
      &-contacts {
        &--phone {
          padding: 1.5rem 1.5rem;
        }
      }
    }
  }
}
