@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: $breakpoint-xxl) {
  #reviews_btn-next,
  #reviews_btn-prev,
  #reviews_pagination {
    position: static !important;
    padding-right: 1.5rem;
    @include font_montserrat-btn;
    font-size: 2.4rem;
    line-height: normal;
    font-variant: small-caps;
  }
  .reviews {
    padding: 12.8rem 1.4rem;
  }
}
@media (max-width: $breakpoint-xl) {
  .reviews {
    &_slide {
      &-title {
        padding-right: 3rem;
      }
      &-wrapper {
        &--name {
          padding-right: 3rem;
        }
      }
    }
    &_control {
      padding-right: 3rem;
    }
  }
}
.mySwiperReviews {
  &::after {
    left: 3rem;
  }
}
@media (max-width: 1160px) {
  .reviews_slide-title {
    padding-right: 0;
    padding-bottom: 2.4rem;
    text-align: center;
  }
  .reviews {
    &_slide {
      &-wrapper {
        &--img {
          margin-left: 0rem;
        }
      }
    }
  }
  .mySwiperReviews {
    &::after {
      top: 1%;
      left: 29%;
    }
  }
  .reviews_control {
    padding-right: 23%;
  }
}
@media (max-width: 1160px) {
  .reviews {
    &_slide {
      flex-direction: column;
      gap: 4rem;
    }
  }
}
@media (max-width: $breakpoint-lg) {
  .reviews {
    padding: 7rem 0rem;
    &_slide {
      &-wrapper {
        width: 45rem;
      }
      &-title {
        font-size: 3.6rem;
      }
    }
  }
  .reviews_control {
    padding-right: 27%;
  }
}
@media (max-width: 940px) {
  .reviews {
    &_slide {
      &-title {
        text-align: center;
      }
      &-wrapper {
        &--img {
          margin-left: 0rem;
        }
        &--name {
          padding-right: 0rem;
          text-align: center;
        }
      }
    }
    &_control {
      float: none;
      width: 450px;
      margin: 0 auto;
      padding-right: 0rem;
    }
  }
  .mySwiperReviews {
    &::after {
      top: 1%;
      left: 25%;
    }
  }
}
@media (max-width: 850px) {
  .mySwiperReviews {
    &::after {
      left: 22%;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .mySwiperReviews {
    &::after {
      top: 1%;
      left: 20%;
    }
  }
}
@media (max-width: 720px) {
  .mySwiperReviews {
    &::after {
      left: 16%;
    }
  }
}
@media (max-width: 600px) {
  .mySwiperReviews {
    &::after {
      left: 12%;
    }
  }
}
@media (max-width: 550px) {
  .mySwiperReviews {
    &::after {
      display: none;
    }
  }
}

@media (max-width: $breakpoint-smL) {
  .reviews {
    padding: 3.5rem 0rem;
    &_slide {
      padding: 4rem;
      &-title {
        font-size: 2.4rem;
        padding-right: 0;
      }
      &-wrapper {
        width: 100%;
      }
    }
    &_control {
      width: 70%;
    }
  }
}
