@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: $breakpoint-xxl) {
  .footer {
    &_wrapper {
      padding: 0rem 1.4rem;
    }
    &_copyrights {
      padding-left: 1.4rem;
    }
  }
}
@media (max-width: $breakpoint-smL) {
  .footer {
    padding: 3.5rem 0rem;
    &_wrapper {
      flex-direction: column;
      gap: 2.4rem;
    }
    &_copyrights {
      padding-top: 3.4rem;
      &-logo {
        align-self: flex-end;
      }
    }
  }
}
@media (max-width: $breakpoint-smS) {
  .footer {
    &_copyrights {
      flex-direction: column;
      gap: 2.4rem;
    }
  }
}
