@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: 1440px) {
  .forwho {
    &_content {
      &-title {
        &::after {
          right: -3.5rem;
        }
      }
    }
  }
}
@media (max-width: $breakpoint-xxl) {
  .forwho {
    padding: 8.5rem 1.4rem 15rem 1.4rem;
    &_content {
      &-title {
        max-width: 60rem;
        &::after {
          top: -2rem;
          right: 8.5rem;
        }
      }
    }
  }
}
@media (max-width: 1220px) {
  .forwho {
    &_content {
      &-title {
        &::after {
          right: 7.5rem;
        }
      }
    }
  }
}
@media (max-width: $breakpoint-xl) {
  .forwho {
    &_wrapper {
      align-items: center;
      padding: 0rem 2rem;
    }
    &_content {
      &-title {
        &::after {
          width: 3.4rem;
          height: 3.4rem;
          top: -1.5rem;
          right: 5.5rem;
        }
      }
    }
  }
}
@media (max-width: 1180px) {
  .forwho {
    &_content {
      &-title {
        &::after {
          top: 5rem;
          right: 32.5rem;
        }
      }
    }
  }
}
@media (max-width: 1132px) {
  .forwho {
    &_content {
      &-title {
        &::after {
          top: 5rem;
          right: 30.5rem;
        }
      }
    }
  }
}
@media (max-width: 1094px) {
  .forwho {
    &_content {
      &-title {
        &::after {
          top: 5rem;
          right: 27.5rem;
        }
      }
    }
  }
}
@media (max-width: 1034px) {
  .forwho {
    &_content {
      &-title {
        &::after {
          top: 5rem;
          right: 25.5rem;
        }
      }
    }
  }
}
@media (max-width: $breakpoint-lg) {
  .forwho {
    padding: 7rem 0rem;
    &_content {
      &-title {
        font-size: 3.4rem;
        padding-bottom: 3rem;
        &::after {
          top: -2rem;
          right: -2rem;
        }
      }
    }
  }
}
@media (max-width: 990px) {
  .forwho {
    &_wrapper {
      flex-direction: column;
      gap: 7rem;
    }
    &_content {
      width: 90%;
      &-title {
        &::after {
          right: 8.5rem;
        }
      }
    }
  }
}
@media (max-width: $breakpoint-md) {
  .forwho {
    &_content {
      width: 100%;
    }
    &_bg {
      width: 90%;
    }
  }
}
@media (max-width: 620px) {
  .forwho {
    &_content {
      &-title {
        &::after {
          right: 4.5rem;
        }
      }
    }
  }
}
@media (max-width: 578px) {
  .forwho {
    &_content {
      &-title {
        &::after {
          right: 1.5rem;
        }
      }
    }
  }
}
@media (max-width: 542px) {
  .forwho {
    &_content {
      &-title {
        width: 90%;
        &::after {
          right: -4rem;
        }
      }
    }
  }
}
@media (max-width: 522px) {
  .forwho {
    &_content {
      &-title {
        width: 90%;
        &::after {
          right: 5rem;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .forwho {
    &_content {
      &-title {
        width: 90%;
        &::after {
          right: 2rem;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .forwho {
    &_content {
      &-title {
        width: 90%;
        &::after {
          right: 3rem;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .forwho {
    &_content {
      &-title {
        &::after {
          right: -1rem;
        }
      }
    }
  }
}
@media (max-width: $breakpoint-smL) {
  .forwho {
    padding: 3.5rem 0rem;
    &_content {
      &-title {
        font-size: 2.4rem;
        &::after {
          right: -3.5rem;
          top: -2rem;
        }
      }
      &-wrapper {
        &--title {
          font-size: 2rem;
        }
      }
    }
  }
}
@media (max-width: $breakpoint-smM) {
  .forwho {
    &_content {
      &-title {
        &::after {
          width: 2.8rem;
          right: -1.5rem;
          top: -1.5rem;
        }
      }
    }
  }
}
@media (max-width: 382px) {
  .forwho {
    &_content {
      &-title {
        &::after {
          right: 2rem;
        }
      }
    }
  }
}
@media (max-width: 350px) {
  .forwho {
    &_content {
      &-title {
        &::after {
          right: -1rem;
        }
      }
    }
  }
}
@media (max-width: $breakpoint-smS) {
  .forwho {
    &_bg {
      padding-bottom: 3rem;
    }
    &_content {
      &-title {
        font-size: 2rem;
      }
    }
  }
}
