@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: $breakpoint-xxl) {
  .forwho {
    padding: 8.5rem 1.4rem 15rem 1.4rem;
    &_content {
      &-title {
        max-width: 60rem;
        &::after {
          top: -2rem;
          right: 8.5rem;
        }
      }
    }
  }
}
@media (max-width: $breakpoint-xl) {
  .forwho {
    &_wrapper {
      align-items: center;
      padding: 0rem 2rem;
    }
    &_content {
      &-title {
        &::after {
          top: -2.5rem;
          right: 6.5rem;
        }
      }
    }
  }
}
@media (max-width: $breakpoint-lg) {
  .forwho {
    padding: 7rem 0rem;
    &_content {
      &-title {
        font-size: 3.4rem;
        padding-bottom: 3rem;
        &::after {
          right: -1.5rem;
        }
      }
    }
  }
}
@media (max-width: 990px) {
  .forwho {
    &_wrapper {
      flex-direction: column;
      gap: 7rem;
    }
    &_content {
      width: 90%;
      &-title {
        &::after {
          right: 8.5rem;
        }
      }
    }
  }
}
@media (max-width: $breakpoint-md) {
  .forwho {
    &_content {
      width: 100%;
      &-title {
        &::after {
          right: 21.5rem;
        }
      }
    }
    &_bg {
      width: 80%;
      padding-bottom: 7rem;
    }
  }
}
@media (max-width: $breakpoint-smL) {
  .forwho {
    padding: 3.5rem 0rem;
    &_content {
      &-title {
        font-size: 2.4rem;
        &::after {
          right: 2.5rem;
          top: -2rem;
          width: 3.4rem;
        }
      }
      &-wrapper {
        &--title {
          font-size: 2rem;
        }
      }
    }
  }
}
@media (max-width: 390px) {
  .forwho {
    &_content {
      &-title {
        &::after {
          right: -0.5rem;
          top: -1.5rem;
          width: 3rem;
        }
      }
    }
  }
}
@media (max-width: $breakpoint-smM) {
  .forwho {
    &_content {
      &-title {
        &::after {
          width: 2.8rem;
          right: -1.5rem;
          top: -1.5rem;
        }
      }
    }
  }
}
@media (max-width: $breakpoint-smS) {
  .forwho {
    &_bg {
      padding-bottom: 3rem;
    }
    &_content {
      &-title {
        font-size: 2rem;
      }
    }
  }
}
