@import "../scss/mixins/mixins";
@import "../scss/variables/variables";

@media (max-width: $breakpoint-xxl) {
  .header {
    padding: 3.2rem 1.4rem 10rem 1.4rem;
  }
}

@media (max-width: 1100px) {
  .header {
    &_nav {
      &-menu {
        width: 70rem;
      }
    }
  }
}

@media (max-width: $breakpoint-xl) {
  .header {
    &_nav {
      padding: 0rem 2rem;
    }
  }
}
@media (max-width: $breakpoint-lg) {
  .header {
    padding: 3.2rem 0rem 3.2rem 0rem;
    &_nav {
      padding: 0rem 2rem;
      &-menu {
        width: 62.8rem;
      }
    }
  }
}
@media (max-width: 900px) {
  .header {
    &_nav {
      &-menu {
        width: 58rem;
      }
    }
  }
}
@media (max-width: 860px) {
  .header {
    &_nav {
      &-menu {
        width: 52rem;
        &--urls {
          gap: 1.4rem;
        }
      }
    }
  }
}
@media (max-width: 796px) {
  .header {
    &_nav {
      &-menu {
        width: 41rem;
        &--logo {
          display: none;
        }
        &--urls {
          gap: 1.4rem;
        }
      }
    }
  }
}
@media (max-width: 690px) {
  .header {
    &_nav {
      flex-direction: column;
      gap: 2.4rem;
      &-contacts {
        width: 100%;
        justify-content: center;
      }
    }
  }
}
@media (max-width: 440px) {
  .header {
    &_nav {
      padding: 0rem 1.4rem;
      align-items: flex-start;
      &-menu {
        width: 90%;
        &--urls {
          gap: 2.4rem;
          flex-wrap: wrap;
        }
      }
      &-contacts {
        justify-content: flex-start;
      }
    }
  }
}
@media (max-width: $breakpoint-smM) {
  .header {
    &_nav {
      &-menu {
        width: 100%;
        &--urls {
          flex-wrap: wrap;
          gap: 2rem;
        }
      }
      &-contacts {
        justify-content: unset;
      }
    }
  }
}
@media (max-width: $breakpoint-smS) {
  .header {
    &_nav {
      &-contacts {
        &--phone {
          padding: 1.5rem 1.5rem;
        }
      }
    }
  }
}
