@import "../scss/mixins/mixins";
@import "../scss/variables/variables";
@import "../scss/animations/animations";

// SECTION ACCORDION
.accordion {
  padding-bottom: 12.8rem;
  &_title {
    @include font_montserrat-heading--title;
    padding-bottom: 5.6rem;
  }
  &_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    &-card {
      background-color: $orange25;
      border-radius: 3.2rem;
      padding: 4rem 0rem 1.5rem 4rem;
    }
    &-item {
      &--btn {
        display: flex;
        align-items: center;
        gap: 1.6rem;
        border: none;
        background: transparent;
        padding-bottom: 1.8rem;
        cursor: pointer;
      }
      &--title {
        @include font_montserrat-paragraph--title;
      }
      &--span {
        transform: rotate(-90deg);
      }
    }
    &-content {
      padding-left: 6.8rem;
      overflow-y: hidden;
      min-height: 0rem;
      &--list {
        list-style: disc;
        @include font_montserrat-btn;
        overflow-y: hidden;
        height: 0;
      }
    }
  }
}

.animateAccordionRotate {
  animation: accordionArrow 0.7s forwards;
}
.animateAccordionBg {
  animation: accordionBg 1s forwards;
  overflow-y: visible;

  @media (max-width: 625px) {
    height: 10rem;
  }
  @media (max-width: 425px) {
    height: 20rem;
  }
  @media (max-width: 320px) {
    height: 25rem;
  }
}
.animateAccordionList {
  animation: animateAccordionList 1.5s forwards;
  overflow-y: visible;
}
