@import "../scss/mixins/mixins";
@import "../scss/variables/variables";
@import "../scss/animations/hover";

// SECTION REVIEWS

.reviews {
  padding: 12.8rem 0rem;
  &_control {
    width: 17.6rem;
    height: 5rem;
    display: flex;
    flex-direction: row-reverse;
    float: right;
  }
}
.reviews_slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7.5rem 0rem 2.5rem 0rem;
  &-title {
    @include font_montserrat-heading--title;
    text-align: right;
  }
  &-content {
    max-width: 36rem;
  }
  &-wrapper {
    max-width: 60rem;
    &--text {
      padding-bottom: 4.8rem;
      @include font_montserrat-paragraph;
      line-height: 2.2rem;
    }
    &--name {
      @include font_montserrat-btn;
      font-size: 2.4rem;
      font-variant: small-caps;
      text-align: right;
    }
    &--img {
      display: block;
      width: 100%;
      margin-left: 16rem;
    }
  }
}
.mySwiperReviews {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 44.8rem;
    height: 44.8rem;
    flex-shrink: 0;
    border-radius: 50%;
    background: $orange100;
    top: 0;
    left: 0;
  }
}
#reviews_btn-next,
#reviews_btn-prev,
#reviews_pagination {
  position: static !important;
  padding-right: 1.4rem;
  @include font_montserrat-btn;
  font-size: 2.4rem;
  line-height: normal;
  font-variant: small-caps;
}
#reviews_btn-next {
  &::after {
    content: url("../../icons/btn-next.svg");
  }
  padding-top: 1.5rem;
}
#reviews_btn-prev {
  &::after {
    content: url("../../icons/btn-prev.svg");
  }
  padding-top: 1.5rem;
}
