@keyframes accordionArrow {
  0% {
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes accordionBg {
  0% {
    min-height: 0rem;
  }
  100% {
    min-height: 8rem;
  }
}

@keyframes animateAccordionList {
  0% {
    transform: translateY(-3rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
